/* Estilos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Estilos para la barra de navegación */
nav {
    background-color: #666; /* Color de fondo de la barra de navegación */
    color: #fff; /* Color del texto de la barra de navegación */
    padding: 10px; /* Espaciado interno de la barra de navegación */    
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s; /* Agrega una transición suave al cambio de color */
}

/* Estilos para la cabecera de la página */
.cabecerapagina {
    background-color: #333; /* Color de fondo del encabezado */
    color: #fff; /* Color del texto del encabezado */
    padding: 20px; /* Espaciado interno del encabezado */
}

/* Estilos para el contenido principal */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

/* Estilos para cada producto */
main .producto {
    margin-bottom: 20px;
    text-align: center;
}

/* Estilos para las imágenes de productos */
main .producto img {
    max-width: 35%;
    height: auto;
    max-height: 35%; 
    margin-bottom: 1%;
}

/* Estilos para las descripciones de productos */
.descripcion {
    text-align: center;
    margin-bottom: 1%;
}

/* Estilos para los botones de compra */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 0%;
    cursor: pointer;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Estilos específicos para pantallas más pequeñas */
@media screen and (max-width: 600px) {
    nav a {
        margin: 5px; /* Ajustar espaciado para pantallas más pequeñas */
    }

    .cabecerapagina {
        padding: 10px; /* Ajustar padding para pantallas más pequeñas */
        font-size: 1.2em; /* Tamaño de fuente ajustado para pantallas más pequeñas */
    }

    main .producto img {
        max-width: 100%; /* Ajustar ancho máximo para pantallas más pequeñas */
    }

    button {
        padding: 8px 16px; /* Ajustar padding para dispositivos más pequeños */
        border-radius: 5px; /* Añadir bordes redondeados */
    }

    footer {
        padding: 5px; /* Ajustar padding para pantallas más pequeñas */
        font-size: 0.8em; /* Tamaño de fuente ajustado para pantallas más pequeñas */
    }
}